* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.questionAnswerForm {
    display: none;
}

body {
    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
}


/*Header Styling*/









